body{
    font-family: arial;
    margin: 0;
}
p{
    margin: 0;
}
.news_block{
    background-color:rgb(187, 255, 253);
    box-sizing: border-box;
    padding: 10px;
    width: 700px;
    margin: 0 auto;
    border-bottom: solid 2px black;
    box-shadow: 0 0 5px grey;
}
.news_block p{
    font-size: small;
}
h2{
    margin:0
}
.news_block:hover{
    background-color: rgb(219, 86, 86);
}
.news_block button{
    font-size: 11px;
    display: block;
    width: 170px;
    padding: 5px;
    color: white;
    background: linear-gradient(rgb(72, 247, 72), green);
    box-shadow: 0 0 5px grey;
    margin: 5px auto;
    border: none;
    cursor: pointer;
}
.modal{
    position: fixed;
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.mod-content{
    position: fixed;
    font-size: small;
    top: 250px;
    left: 550px;
    width: 400px;
    background-color: rgb(230, 250, 128);
    box-sizing: border-box;
    padding: 15px;
    opacity: 1;
}
.modal h1{
    text-align: center;
    margin-top: 0;
}